<!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="{{ path('homepage')}}">Lyra Electoral App</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
              <img src="{{ asset('img/elections.png')}}" width="48" height="48" alt="LyraApp" />
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->